<%=flash[:message]%>
<form action="/tools" method="post">
  <p>Tool Name: <input type="text" name="name"></p>
  <p>Tool Quantity: <input type="text" name="quantity"></p>
  <input type="submit">
</form>

