<h1>Tool</h1>

<p><%=@tool.name%> - <%=@tool.quantity%> </p>


<% if @tool.user == current_user%>
  <form action="/tools/<%=@tool.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tool">
  </form>
<%end%>