<div class="error">
<%=flash[:message]%>
</div>
<form action="/users" method="post">
  <p>User Name: <input type="text" name="name"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit">
</form>

