<h1>Welcome!</h1>
  <div class="link-tags">
  <% if !current_admin%>
  To log in click here:
    <a href="/login">Login</a>
  <%end%>
</div>

<div class="link-tags"> 
Don't have an account? Sign up here:
<a href="/signup">Sign-up</a> 
</div>