<body>
<head>
  <link rel="stylesheet"  href="/stylesheets/application.css"/>

 <h1>User Account Directory</h1>  
</head>
  <%if current_admin%>
  <div class='link-tags'>
  To add a new user to your profile click here:
  <a href='/users/new'>Add New user</a>
  <br>
  Every user of the garage can be seen here:
  <a href="/users">All users</a>
  <br>
   To log out click here:
  <a href="/logout">Logout</a>
  <%end%>
  
  
 
  <% if current_admin%>
  <%@admin = current_admin%>
      To see your account click here:
    <a href="/admins/<%=@admin.id%>">My profile</a> 
  <%end%>
 </div>

  <div class="container">
      <%= yield%>
  </div>
</body>

