<body>
                <div class="error">        
                        404
         The page you searched for returned no results you Fool
         <br> 
             Home page:<a href="/">Home</a>               
             </div>
</body>         